@inject NavigationManager NavigationManager
@rendermode InteractiveServer

<button @onclick="ShowModal" class="btn btn-success">Add Plant</button>

<Modal IsVisible="@isModalVisible" IsVisibleChanged="@OnModalVisibilityChanged">
    <AddPlant />
</Modal>

@code {
    private bool isModalVisible = false;

    private void ShowModal()
    {
        isModalVisible = true;
    }

    private void OnModalVisibilityChanged(bool isVisible)
    {
        isModalVisible = isVisible;
    }
}