@inject NavigationManager NavigationManager
@rendermode InteractiveServer

<button @onclick="CreatePlant" class="btn btn-primary">Add Plant</button>

@code {
    void CreatePlant()
    {
        NavigationManager.NavigateTo("/edit-plant");
    }
}
