@inject NavigationManager NavigationManager
@rendermode InteractiveServer

<button @onclick="DeletePlant" class="btn btn-primary">Delete</button>

@code {
    [Parameter]
    public int PlantId { get; set; }

    void DeletePlant()
    {
        NavigationManager.NavigateTo($"/delete-plants/{PlantId}");
    }
}
