@page "/edit-plant"
@page "/edit-plant/{PLANT_ID:int}"
@inject IPlantService PlantService

<h3>Create Plant</h3>

<EditForm Model="plant" OnSubmit="HandleSubmit" FormName="editPlant">
	<label>Plant Name</label>
	<InputText @bind-Value="plant.PLANT_NAME">@plant.PLANT_NAME</InputText>
	<button type="submit" class="btn btn-primary">Submit</button>
</EditForm>

@code {
	[Parameter]
	public int? PLANT_ID { get; set; }
	[SupplyParameterFromForm]
	Plants plant { get; set; } = new Plants { PLANT_NAME = string.Empty };

	async Task HandleSubmit()
	{
		await PlantService.AddPlants(plant);
	}
}
