@page "/"
@attribute [StreamRendering]

<PageTitle>Blossom</PageTitle>
<body>

<h1>Web Page MVP</h1>

<p>Tomato Plant</p>

<img src="images/Tomato.png" alt="Plant img" style="width:240px;height:210px;">

<form>
    <input type="checkbox" id="task1" name="task1" value="Complete1">
    <label for="task1"> I watered my plant</label><br>
    <input type="checkbox" id="task2" name="task2" value="Complete2">
    <label for="task2"> I placed my plant in sunlight</label><br>
    <input type="checkbox" id="task3" name="task3" value="Complete3">
    <label for="task3"> I have fertalized my plant</label><br><br>
</form>

</body>