@page "/blossom"
@attribute [StreamRendering(true)] 
@inject IPlantService PlantService

<!--***********************************************************************
*	                             HTML SECTION                             *
************************************************************************-->
<h3>PlantList</h3>
        <AuthorizeView>
            <Authorized>
@if (plant == null)
{
	<span>Loading...</span>

}
else if(plant.Count == 0)
{
	<span>No plants found.</span>
}
else
{
	<ul>
		@foreach (var plants in plant)
		{
			<li>@plants.PLANT_NAME</li>
		}
	</ul>
}
            </Authorized>
            <NotAuthorized>

            </NotAuthorized>
        </AuthorizeView>


<!--***********************************************************************
*	                             CODE SECTION                             *
************************************************************************-->
@code{
	List<Plants>? plant = null;

	protected override async Task OnInitializedAsync()
	{
		plant = await PlantService.GetAllPlants();
	}
}