@page "/counter"
@rendermode InteractiveServer

<PageTitle>blah blah</PageTitle>

<h1>Plant Box</h1>

    
<style type="text/css">
    .main {
        margin: 50px auto;
        width: 700px;
        padding-top: 10px;
        padding-bottom: 10px;
        background-color: #725D4C;
        border-radius: 20px;
        box-shadow: 10px 10px 8px #888888;
    }

        .main .inner {
            /*padding: 50px;*/
            font-size: 0px;
            display: table;
            text-align: center;
            margin: auto, auto;
            border-radius: 20px;
        }


    .tile h2 {
        font-size: 20px;
        color: #654321;
        font-family: "Helvetica Neue", sans-serif;
        font-weight: 100;
        line-height: 1.1;
        text-align: center;
        border-radius: 20px;
    }

    .tile {#725D4C
        margin: 0 auto;
        top: 80%;
        padding: 50px;
        height: 190px;
        width: 190px;
        border: 20px solid #725D4C;
        opacity: 1;
        background-color: #48BF53;
        display: inline-block;
        border-radius: 20px;
    }
</style>

<div class="main">
    <div class="inner" style="border-radius: 20px;">
        @for (int i = 1; i < 10; i++)
        {
            <div class="tile">
                <h2>Plant @i</h2>
            </div>
        }
    </div>
</div>

@code {
    private int currentCount = 0;

    private void IncrementCount()
    {
        currentCount++;
    }

    private void DecrementCount()
    {
        currentCount -= 500;
    }

}