@page "/blossom_MVP"
@rendermode InteractiveServer
@inject NavigationManager NavigationManager
@attribute [StreamRendering(true)]
@inject IPlantService PlantService

<PageTitle>MVP</PageTitle>

<h1>Blossom MVP</h1>
<AddPlantButton/>
<style type="text/css">
    /* Styling for the green box                                             */
    /*************************************************************************/
    .main {
        margin: 50px auto;
        width: 700px;
        padding-top: 10px;
        padding-bottom: 10px;
        background-color: #725D4C;
        border-radius: 20px;
        box-shadow: 10px 10px 8px #888888;
    }
     /* Inner Container for the grid                                          */
     /*************************************************************************/
        .main .inner {
            font-size: 0px;
            display: table;
            text-align: center;
            margin: auto, auto;
            border-radius: 20px;
        }
    /*  styles the individual tiles                                          */
    /*************************************************************************/
    .tile {#5AAB61
        margin: 0 auto;
        top: 80%;
        padding: 50px;
        height: 190px;
        width: 190px;
        border: 20px solid #725D4C;
        opacity: 1;
        background-color: #48BF53;
        display: inline-block;
        position: relative;
        border-radius: 20px;
    }
    /* Styling for the first tile - Tomatoe                                  */
    /*************************************************************************/
    .tile-1 {
        background: url(images/Tomato.png) left -1px top -1px no-repeat, #654321;
        background-size: 75px;
        background-color: #48BF53;
    }
    /* Styling for the second tile - Carrot                                  */
    /*************************************************************************/
    .tile-2 {
        background: url(images/Carrot.png) left -1px top -1px no-repeat, #654321;
        background-size: 75px;
        background-color: #48BF53;
    }

    /* Styling for the plant name - targets spans inside the tiles           */
    /*************************************************************************/
    .tile span {
        position: absolute;
        top: 15%;
        left: 85px;
        color: white;
        font-size: 18px;
        font-family: Arial, sans-serif;
    }

    /* Styling for formatting checkbox - targets checkbox input              */
    /*************************************************************************/
    .tile input[type="checkbox"] {
        position: absolute;
        top: 60%;  
        left: 25px; 
    }

    /* Styling for the checkbox label - targets labels                       */
    /*************************************************************************/
    .tile label {
        position: absolute;
        top: 58%;        
        left: 40px;       
        color: black;
        font-family: Arial, sans-serif;
        font-size: 14px;
    }

</style>

<!-- Main content block for displaing the tile grid -->
<div class="main">
    @if (plant == null)
    {
     <p>null</p>
    }
    else
    {
    <div class="inner" style="border-radius: 20px;">
        <!-- Generating 9 tiles                      -->
        @for (int i = 1; i < num_plants; i++)
        {
            <!-- Adds images to two of the tiles  -->
            <!-- Assigns the class tile-one to the tile -->
            <div class="tile tile-@i">
                    <span>@plant[i].PLANT_NAME</span>
                    <!--<DeletePlantButton PlantId="@plant[i].PLANT_ID" /> -->
                    <input type="checkbox" id="watering-tomato" name="watering-tomato">
                    <label for="watering-tomato">Watering</label>

                    <!-- Hello Anna!-->
                    <!--First button: proof that we can go into func(). It prints out the number 222 into the terminal successfully-->
                    <button @onclick="() => func(222)" type="button" class="btn btn-danger">Button 1</button>
                    <!-- Second Button: doesn't work, clicking will cause an exception, most likely cause of the problem I texted you about-->
                    <button @onclick="() => Console.WriteLine(plant[i].PLANT_ID)" type="button" class="btn btn-danger">Button 2</button>
                    
            </div>
        }
    </div>
    }
</div> 

@code {
    List<Plants>? plant = null;

    int num_plants;

    protected override async Task OnInitializedAsync()
    {
        plant = await PlantService.GetAllPlants();
        num_plants = plant.Count;
    }

    async Task func(int plant_ID)
    {
        Console.WriteLine(@plant_ID);
    }
        
}
