@page "/counter"
@rendermode InteractiveServer

<PageTitle>blah blah</PageTitle>

<h1>BLAH BLAH BLAH!!!!!!!!!!!!!!</h1>

<p role="status">Current count: @currentCount</p>

<button class="btn btn-primary" @onclick="IncrementCount">Click me to Add 1</button>

<button class="btn btn-primary" @onclick="DecrementCount">Click me to Sub 500</button>

<div class="main">
  <div class="inner">
    <div class="tile">
      <h2>Name 1</h2>
    </div>
    <div class="tile">
      <h2>Name 2</h2>
    </div>
    <div class="tile">
      <h2>Name 3</h2>
    </div>
    <div class="tile">
      <h2>Name 4</h2>
    </div>
    <div class="tile">
      <h2>Name 5</h2>
    </div>
    <div class="tile">
      <h2>Name 6</h2>
    </div>
    <div class="tile">
      <h2>Name 6</h2>
    </div>
    <div class="tile">
      <h2>Name 7</h2>
    </div>
  </div>
</div>

@code {
    private int currentCount = 0;

    private void IncrementCount()
    {
        currentCount++;
    }

    private void DecrementCount()
    {
        currentCount-=500;
    }
}
