@page "/"
@rendermode InteractiveServer
@inject IJSRuntime IJSRuntime // Inject IJSRuntime for JavaScript interop

<div @onclick="@(() => PopupVisible = true)">
    <button class="button">CLICK TO SHOW A POP-UP WINDOW</button>
  
</div>

<DxPopup @bind-Visible="@PopupVisible" AllowDrag="true">
    <BodyContentTemplate>
        <i>
            <iframe src="/add-plants" title="Add Plants Page"></iframe>
        </i>
    </BodyContentTemplate>
</DxPopup>

@code {
    bool PopupVisible { get; set; } = false;
}

