@page "/"

<!--***********************************************************************
*	                             CSS/STYLING SECTION                      *
************************************************************************-->
<style>


</style>

<!--***********************************************************************
*	                             HTML SECTION                             *
************************************************************************-->

        <AuthorizeView>
            <Authorized>
                <div>
                    <a href="/Identity/Account/Logout">Logout</a>
                </div>
            </Authorized>
            <NotAuthorized>
                <div>
                    <a href="/Identity/Account/Login">Login</a>
                </div>
            </NotAuthorized>
        </AuthorizeView>

<!--***********************************************************************
*	                             CODE SECTION                             *
************************************************************************-->
@code{
}