@using Microsoft.AspNetCore.Components

<div class="popup" style="display: @(IsVisible ? "block" : "none")">

    <div class="popup-content">

        <p>This is the popup content</p>

        <button @onclick="ClosePopup">Close</button>

    </div>

</div>



@code {

    [Parameter] public bool IsVisible { get; set; }



    void ClosePopup()

    {

        IsVisible = false;

    }

}
